@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: 0 0% 0%;
  --foreground: 220 14% 71%;

  --card: 220 13% 18%;
  --card-foreground: 220 14% 71%;
 
  --popover: 220 13% 18%;
  --popover-foreground: 220 14% 71%;
 
  --primary: 210 40% 98%;
  --primary-foreground: 210 40% 9.8%;
 
  --secondary: 220 13% 24%;
  --secondary-foreground: 210 40% 98%;
 
  --muted: 220 9% 34%;
  --muted-foreground: 220 14% 71%;
 
  --accent: 220 13% 24%;
  --accent-foreground: 210 40% 98%;
 
  --destructive: 0 63% 31%;
  --destructive-foreground: 210 40% 98%;

  --border: 220 13% 24%;
  --input: 220 13% 24%;
  --ring: 210 40% 98%;
 
  --radius: 0.625rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --bubble-1: 115 82 144;
  --bubble-2: 215 182 244;
  --bubble-3: 54 52 87;
  --bubble-4: 158 183 229;
  --bubble-5: 152 168 134;
  --bubble-6: 152 168 134;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-geist-sans);
}
