@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --color-primary: #735290;
  --color-secondary: #363457;
  --radius: 0.625rem;

  --background: #181726;
  --foreground: #9EB7E5;

  --card: #342541;
  --card-foreground: #9EB7E5;

  --popover: #342541;
  --popover-foreground: #9EB7E5;

  --primary: #98A886;
  --primary-foreground: #181726;

  --secondary: #465C69;
  --secondary-foreground: #9EB7E5;

  --muted: #465C69;
  --muted-foreground: #9EB7E5;

  --accent: #98A886;
  --accent-foreground: #181726;

  --destructive: #FF6B6B;

  --border: #465C69;
  --input: #342541;
  --ring: #98A886;

  --chart-1: #98A886;
  --chart-2: #9EB7E5;
  --chart-3: #465C69;
  --chart-4: #342541;
  --chart-5: #181726;

  --sidebar: #181726;
  --sidebar-foreground: #9EB7E5;
  --sidebar-primary: #98A886;
  --sidebar-primary-foreground: #181726;
  --sidebar-accent: #465C69;
  --sidebar-accent-foreground: #9EB7E5;
  --sidebar-border: #465C69;
  --sidebar-ring: #98A886;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

